<div class="card">
    <div class="card-body">
        <h1>About</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisiccing elit. laudantium itaque maxime expedita quam deserunt totam?</p>
    </div>
</div>