<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisiccing elit. laudantium itaque maxime expedita quam deserunt totam?</p>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisiccing elit. laudantium itaque maxime expedita quam
        deserunt totam?</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">Faztweb</a>
</div>
